  


input[type=text], input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 45px;
    margin-bottom: 15px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  
  button {
    background-color: #045faa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    text-align: center;
  }
  
  button:hover {
    opacity: 0.8;
  }

  #LogIn-btn {
    background-color: #045faa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    margin: 8px auto; 
    display: block; 
}
  
.cancelbtn {
  width: 300px;
  padding: 10px 18px;
  background-color: #f44336;
  text-align: center;
  display: block;
  margin: 0 auto; 
}
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
    
    
  }
  
  .container {
    padding: 16px;
    background: transparent;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  
  
 
  .signupbtn {
    text-align: center;
    width: 300px;
    
  }
  

  .container {
    padding: 16px;
    text-align: center;
  }

  .login-container{
    
      max-width: 700px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      border: 2px solid #e2e7eb;
  }
 
  

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
   
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }